{% extends 'base.html' %}

{% block content %}
    <table class="table text-center">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Wins</th>
            <th>Points Earned</th>
            <th>Points Allowed</th>
            <th>
                <a href="{% url 'player-add' %}" class="btn btn-primary">Add Player</a>
            </th>
        </tr>
        </thead>
        <tbody>
        {% for player in players %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ player.name }}</td>
                <td>{{ player.get_wins }}</td>
                <td>{{ player.get_total_points_earned }}</td>
                <td>{{ player.get_total_points_allowed }}</td>
                <td><a href="{% url 'player-detail' pk=player.pk %}">Detail</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
